body{
  margin:  : 0;
  background: linear-gradient(to left bottom, Lightblue, lightpink, lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.container{
  background-color:   white;
  padding: 20px;
  box-shadow: 6px 12px 50px rgba(8, 8, 12, 0.3);
  border-radius: 20px;
  width: 85%;
  text-align: center;
  color: rgb(53, 153, 153);
}

.heading{
  font-size: 35px;
  font-weight: 800;
  text-shadow: 6px 6px 2px rgba(237, 11, 237, 0.899);
  letter-spacing: 3px;
}

.joke{
  font-size: : 25px;
  font-weight: 500;
  margin: 40px;
}

.btn{
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(99, 8, 99, 0.3);
  border-color: blue;
  text-transform: uppercase;
  width: 250px;
}

.btn:hover{
  background-color: tomato;
  box-shadow: 0px 4px 4px rgba(28, 206, 87, 0.5);
}
