#myHeader {
    background-color: darksalmon;
    color: cornflowerblue;
    padding: 50px;
    text-align: center
}

.fancy {
    background-color: darkblue;
    color: crimson;
    padding: 10px
}

.weeee{
    background-color:burlywood
}